.main-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #bec2e0;
    padding: 20px;
    margin: 10px auto;
    border-radius: 10px;
    list-style-type: none;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}
.main-list:hover {
    background-color: #ffffff;
    transform: scale(1.02);
}
.icons {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}
.main-list a {
    text-decoration: none;
    font-size: 1.3rem;
    color: black;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
}  
.tab {
    display: inline-block;
    width: 20px;
}
.coin-price {
    font-size: 1.2rem;
    color: #e0e0e0;
    text-align: right;
    width: 100px;
}
.main-list {
    border-bottom: 1px solid #666;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.main-list:last-child {
    border-bottom: none;
}
.coin-link {
    color: #f2f2f2;
    text-decoration: none;
}
.coin-price {
    font-size: 1.2rem;
    text-align: right;
    width: 150px;
    color: black;
}
.main-list {
    border-bottom: 1px solid #666;
    padding-bottom: 10px;
    margin-bottom: 20px;
} 
.main-list:last-child {
  border-bottom: none;}
.container th{
  text-align: left;
}
.container, .container table{
  padding: 20px;
  border-radius: 10px;
}
.container{
  background-color:#333333;
}
.container table{
    background-color:#d5ffe5;
    width: 700px;
    color: #333;
}
.descript, table, .together, .crypto-list, .crypto-list ul,.row{
    width: 80%;
}
.title-container{
  background-color: #0c100d;
}
table{
  background-color: #bec2e0;
  border: #333333 solid;
  z-index: 10;
}
.crypto-list h1{
  font-size: 2rem;
}
.coin-container input[type="text"] {
  width: 50vw;
  height: 30px;
  padding: 10px;
  padding-left:20px;
  border:none;
  border-radius: 10px;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  text-align:left;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 30px;
}
.together, .container, .coin-container, .crypto-list ul, .row,.crypto-list, table, .descript,.container table{
  margin: 0 auto;
}  
.crypto-list{
  position: relative;
  z-index: 10; /* Higher than blobs */
  border-radius: 40px;
  background: rgb(54, 54, 54, .7);
  box-shadow:  -5px -5px 14px #838383,
               5px 5px 14px #535353;
}
.crypto-list h2{
  font-size: 30px;
}
.crypto-list li{
  margin-left: -20px;
}
.crypto-list ul,.row{
  text-decoration: none;
  list-style: none;
}
.crypto-list h1{
  display: flex;
  justify-content: center;
}
.container, .coin-container{
  z-index: 20;
  position: relative;  
  width:80vw;
  margin-top: 40px;
  padding: 40px;
  border-radius: 40px;
  background: rgba(37, 39, 52, 0.7);
}
.images{
  width: 100px;
  height: 100px;
}
.together{
  display: flex;
  justify-content:flex-start;
  align-items: center;
}
.together h1{
  margin-left: 10px;
}

.coin-container h2, .coin-container h3{
  text-align: center;
  margin: 0;
}
.coin-container h2{
  font-size: 32px;
  margin-bottom:10px;
}
.coin-container h3{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}